@import "./tailwind.css";
@import "~shepherd.js/dist/css/shepherd.css";

.transition {
    transition: 300ms all ease;
}

.active-shrink:active {
    transform: scale(0.95);
}

.typeform-share {
    display: none !important;
}
